* {
    margin: 0;
}

:root {
    --background: #F8F8F8;
    --red-accent: #D11848;
    --aqua-accent: #1E9DA4;
    --yellow-accent: #f4b42a;
    --green-accent: #c5c32c;
    --invalid: #ca4141;
    --border-accent: #C1C1C1;
    --aqua-lower: #D4EAEC;
    --btn-active: #e2fdff;
} 
/* 
html, body {
    width: 100%;
} */

body {
    background-color: #F8F8F8;
}

h1, h2, h3, #join-form fieldset legend {
    font-family: 'Roboto', sans-serif;
}

p{
    font-family: 'Nunito', sans-serif;
    font-size: .9rem;
}
/* Banner */


div.banner {
    display: flex;
    justify-content: space-around;
    padding: .5rem 1rem;
    font-family: 'Nunito', sans-serif;
    background-color: #D11848;
    color: #FFF;
    align-items: center;
}

div.inactive-banner {
    display: none;
}
button.close-banner {
    border: none;
    background-color: #D11848;
    color: #FFF;
    font-size: 1.3rem;
    transition: .2s;
}

button.close-banner:hover {
    color: #c9c9c9;
}

div.active-banner {
    display: flex;
}

/* nav { */
header {
    background: #fff;
    width: auto;
    padding-bottom: .4rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

nav {
    align-items: center;
    margin: 0;
    padding: .5rem;
    display: grid;
    grid-template-areas: 
        "a b c"
        "d d d";
    /* flex-wrap: wrap; */
    /* flex-direction: row;
    justify-content: space-between; */
    order: 1;
}

#navLogo {
    max-width: 10rem;
}

#navLogo a img {
    width: 100%;
}

/** social icons */

nav div.icons {
    

    display: flex;
    justify-content: flex-end;
    /* align-content: flex-end; */
    align-content: center;
    order: 2;
    align-items: center;
}

div.facebook, div.linkedin {
    padding: 0 .2rem;
    max-width: 2rem;
}

div.facebook img, div.linkedin img {
    width: 90%;
}

/* hover .jetmenu>li.nav-item-2:hover>a{border-top:.375rem solid #1e9da4} */

/* nav #nav-cont button { */
nav button#hambButton {

    text-align: right;
    display: block;
    border: none;
    background: transparent;
    color: #111;
    font-size: 1.5rem;
    order: 3;
}

#hambButton span:nth-child(1){ display: block;} 
#hambButton span:nth-child(2){ display: none;} 

nav ul {
    display: none;
    grid-area: d;
    list-style: none;
    padding: 0;
    margin: 0;
    order: 4;
}

ul#firstNav li {
    display: inline;
}

nav ul li a {
    font-family: 'Roboto', sans-serif;
    display: block;
    text-decoration: none;
    color: #000;
    padding: 0.4rem 0.6rem;
    border-top: 0.375rem solid #FFF;
    transition: 0.3s;
}

nav ul li:nth-child(1) a:hover {
    /* background-color: rgba(50,50,50,.2); */
    border-top: 0.375rem solid #D11848 ;
}

nav ul li:nth-child(2) a:hover {
    /* background-color: rgba(50,50,50,.2); */
    border-top: 0.375rem solid #f4b42a ;
}

nav ul li:nth-child(3) a:hover {
    /* background-color: rgba(50,50,50,.2); */
    border-top: 0.375rem solid #1E9DA4 ;
}

nav ul li:nth-child(4) a:hover {
    /* background-color: rgba(50,50,50,.2); */
    border-top: 0.375rem solid #C5C32C ;
}

/* display the menu on click with JS  */

nav ul.open {
    display: block;
}

#hambButton.open span:nth-child(1){ display: none;} 
#hambButton.open span:nth-child(2){ display: block;} 

#current-time-container {
    margin: .4rem 1rem;
    padding: .2rem;
    background-color: #1E9DA4;
    border-radius: 0.5rem;
}

#currentTime {
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #FFF;
    text-align: center;
    padding: .2rem;

}
/** main content  */

#home-container {
    display: flex;
    flex-direction: column;
}

main section.sections {
    margin: .4rem;
    border: 1px solid #D4D3D3;
    /* background-color: #3D3A3B; */
    background-color: #FFF;
    padding: 0;
    min-height: 12rem;
    text-align: center;
}

/** hero image */
#hero *{
    padding: 0;
}

#hero {
    height: 12rem;
}

#hero h2{
    position: absolute;
    padding: .7rem;
    padding-left: 2rem;
    color: #D11848;
    text-shadow: 2px 2px 3px #FFF;
}

#hero picture {
    width: auto;
}

#hero div *{
    padding: 0;
}

#hero picture img {
    object-fit: cover;
    width: 100%;
    height: 12rem;
}

/* end hero image */

main section.sections *{
    padding: .4rem;
}

main section.sections a{
    text-decoration: none;
}

main section.sections h2 {
    font-weight: 600;
    font-size: 1.2rem;
}

main section.sections h3 {
    font-weight: normal;
    font-size: 1.1rem;
}

/** color to the border tops */

#events div {
    border-top: 0.375rem solid #f4b42a;
}

#weather div {
    border-top: 0.375rem solid #D11848;
    padding: 0;
}

div#weather-img-container {
    border-top: none;
    display: flex;
    justify-content: center;
}

#weather div * {
    padding: .1rem;
}

div#weather-img-container h2 {
    padding: .4rem;
}

div#weather-img-container h3 {
    align-self: center;
    font-size: 1.3rem;
}

#weather-img-container picture img{
    width: 50%;
}

#weather div hr{
    padding: 0;
    border: 1px solid #D11848;
    margin: .2rem 1rem;
}

#join div {
    border-top: 0.375rem solid #1E9DA4;
}

button#join-button {
    margin-top: .5rem;
    padding: .4rem 3rem;
    border-radius: .3rem;
    border: 1px solid #1E9DA4;
    color: #FFF;
    background-color: #1E9DA4;
    transition: 0.2s;
}

button#join-button{
    color: #FFF;
    transition: 0.2s;
}

button#join-button:hover{
    color: #1E9DA4;
    background-color: #F8F8F8;
}

#newRelease div {
    border-top: 0.375rem solid #C5C32C;
}

.spot1 div {
    border-top: .375rem solid #D11848;
}

.spot2 div {
    border-top: .375rem solid #f4b42a;
}

.spot3 div {
    border-top: 0.375rem solid #1E9DA4;
}

/** sspotlights */
section#spotlight {
    background-color: #F8F8F8;
    padding: .87rem;
}

section#spotlight .spots{
    display: block;
    padding: 0;
    height: 11rem;
    border: 1px solid #D4D3D3;
    background-color: #FFF;
}

section#spotlight .spot3 {
    display: none;
}

/* footer css */

footer {
    background-color: #e7e7e7;
    text-align: center;
}

footer hr{ 
    margin: .4rem;   
    border: 1px solid #c9c9c9;
    /* color: #3d3a3b;  */
}

footer div.foot1-2 p a{
    color: black;
    text-decoration: none;
}

/* discover page  */

/* 
section.galery div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
} */

section.galery div {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
    margin-bottom: 1.6rem;
    align-items: center;
}

picture.disco-pic-size {
    width: auto;    
}

section.galery div p {
    padding: 1rem;
}

picture.disco-pic-size img {
    width: 100%;
}

.left-discover {
    opacity: 0;
    transform: translate(-15vh,0);
    transition: all 1s;
}

.right-discover {
    opacity: 0;
    transform: translate(15vh,0);
    transition: all 1s;
}

.galery-visible {
    opacity: 1;
    transform: translate(0, 0);
  }

#visit-container {
    display: flex;
    justify-content: space-around;
    padding: .3rem 1rem;
    font-family: 'Nunito', sans-serif;
    background-color: #f4b42a;
    color: #FFF;
    align-items: center;
    margin-top: .1rem;
    font-weight: bold;

}

button.close-visits-banner {
    border: none;
    background-color: #f4b42a;
    color: #FFF;
    font-size: 1.3rem;
    transition: .2s;
}


/*-------- Join Page  ----------*/

/* form#join-form {
    margin-bottom: 3rem;
} */

form#join-form fieldset {
    border-radius: .6rem;
    margin: 2rem;
    border: 1px solid var(--border-accent);
}

form#join-form label, form#join-form div {
    display: block;
    font-family: 'Nunito', sans-serif;
    padding: 0 1.4rem;
}

#join-form label.join_form__label input, #join-form label.join_form__label textarea {
    display: block;
    border-radius: .3rem;
    background-color: var(--background);
    border: 1px solid var(--border-accent);
    padding: .3rem;
    width: 100%;
    margin-bottom: .8rem ;
    margin-top: .2rem;
}

#join-form label.join_form__member-label {
    margin: .5rem;
}

#join-form label.join_form__member-label input::after {
    color: var(--aqua-accent);
}

#join-form input[type="submit"] {
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: #fff;
    background-color: var(--yellow-accent);
    border: none;
    border-radius: .4rem;
    display: flex;
    margin: auto;
    padding: .7rem 2.2rem;
    transition: .2s;
    max-height: 2.6rem;
}

#join-form input[type="submit"]:hover {
    box-shadow: 0 0 1.2rem #f4b42aa6;
    font-size: 1.1rem;
}

#plans-container {
    margin: 2rem;
}

div.plans-container__div {
    margin: 1rem 0;
    /* border: 1px solid var(--border-accent); */
    border-radius: .45rem;
    padding: 1.5rem;
    transition: .2s;
}

div.plans-container__div:hover {
    box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.1);
}

div.plans-container__div:nth-child(1) {
    border: 1px solid var(--red-accent);
}

div.plans-container__div:nth-child(2) {
    border: 1px solid var(--aqua-accent);
}

div.plans-container__div:nth-child(3) {
    border: 1px solid var(--green-accent);
}

div.plans-container__div:nth-child(4) {
    border: 1px solid var(--yellow-accent);
}

div.plans-container__div h2{
    text-align: center;
}

div.plans-container__div p:not(.plans-container__div-p) {
    padding: .3rem 0;
}

div.plans-container__div p.plans-container__div-p {
    text-align: center;
    font-size: 2.5rem;
    font-weight: bold;
}

div.plans-container__div:nth-child(1) {
    margin-top: .5rem;
}


/* thanks page */

#thanks-container {
    min-height: 70vh;
    padding: 2rem;
    padding-top: 4rem;
}

#thanks-container p {
    font-size: 1.1rem;
    padding: 1rem 0;
}



/* 
#join-form label.join_form__label input:required {
    border: 1px solid var(--aqua-accent);
} */

/* #join-form label.join_form__label input:required:valid {
    border: 1px solid var(--aqua-accent);
} */
/* 
#join-form label.join_form__label input {
    border: 1px solid var(--invalid);
} */
/* 
#join-form label.join_form__label input:focus:invalid {
    border: none;
} */


/******************* Directory ************/

/* .directory-cards {
    padding: 1rem;
    border: 1px solid #D4D3D3;
} */

h2.directory-title {
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-left: 2rem;
}
/* Buttons */

.directory-buttons {
    margin: 1.5rem 0;
    text-align: center;
}

.directory-buttons div {
    display: inline;
}

.directory-buttons button {
    padding: .35rem;
    margin: .4rem;
    border: 1px solid var(--aqua-accent);
    border-radius: .25rem;

}

.directory-buttons button img{
    vertical-align: middle;
}

/* container */ 

.directory-cards {
    margin: 1rem 1.5rem;
}

.directory-cards section {
    margin:  .5rem 0;
    padding: 1rem;
    /* transition: .5s; */
}

.directory-cards p, .directory-cards h2 {
    padding: .3rem;
}

section.grid-display {
    border-radius: 3px;
    border: 1px solid #D4D3D3;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    
}

section.grid-display h2 {
    display: none;
}

section.grid-display img {
    display: block;
    margin: 0 auto;
    margin-bottom: .5rem;
    padding: 0 1rem;
    max-width: 80%;
    /* max-height: ; */
    text-align: center;
}

section.list-display h2 {
    font-size: 1.15rem;
}

section.list-display img {
    display: none;
}

section.list-display:nth-child(odd) {
    background-color: var(--aqua-lower);
}

/* section.views {
    background-color: red;
} */

button.active {
    background-color: var(--btn-active);
}