main {
    max-width: 70rem;
    margin: 0 auto;
}

/* nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

nav {
    display: flex;
    justify-content: space-around;
}

nav ul.firstNav{
    display: flex;
    align-items: center;
    order: 2;

}

nav div.icons {
    order: 3;
}

#current-time-container {
    display: block;
    margin: .4rem 3rem;
}

nav button#hambButton {
    display: none;
}

/* the main element */

#home-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "event hero hero spot"
        "weather hero hero spot"
        "join news news spot"
    ;
}

#events {
    grid-area: event;
}

#hero {
    grid-area: hero;
    height: 25.3rem;
}

#hero picture img {
    min-height: 12rem;
    height: 100%;
}

#spotlight {
    grid-area: spot;
}

#weather {
    grid-area: weather;
}

#join {
    grid-area: join;
}

#newRelease {
    grid-area: news;
}

/* spotlights */

section#spotlight {
    display: block;
}

section#spotlight .spots{
    height: 12rem;
}

section#spotlight .spot3 {
    display:block;
}
