body {
    max-width: 70rem;
    margin: 0 auto;
}

nav {
    display: flex;
    flex-wrap: wrap;
}

nav ul.firstNav{
    display: flex;
    align-items: center;

}

nav div#current-time-container {
    display: block;
}

nav #nav-cont button {
    display: none;
}

/* the main element */

#home-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: 
        "event hero hero spot"
        "weather hero hero spot"
        "join news news spot"
    ;
}

#events {
    grid-area: event;
}

#hero {
    grid-area: hero;
}

#spotlight {
    grid-area: spot;
}

#weather {
    grid-area: weather;
}

#join {
    grid-area: join;
}

#newRelease {
    grid-area: news;
}

/* spotlights */

section#spotlight {
    display: block;
}

section#spotlight .spots{
    height: 12rem;
}

section#spotlight .spot3 {
    display:block;
}
