

#home-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

section#spotlight {
    display: flex;
}

#spotlight .spots {
    width: -webkit-fill-available;
}

main section.sections {
    grid-column: span 3;
    margin: .3rem;
}

#hero {
    border: none;
}
#events {
    grid-row: 5 / 6;
    grid-column: span 2;
}

#weather {
    grid-row: 5 / 6;
    grid-column: span 1;
}

/* footer  */

footer {
    padding-bottom: .4rem;
}

footer div.foot1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}


div.foot1 .foot1-1 {
    display: flex;
    align-items: center;
    flex-direction: row;
}

footer div.foot2 {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

footer div.foot2 p:not(.modify){
    border-right: .1rem solid black;
    padding-right: 2rem;
}

/** discover page */
main section.galery {
    margin: 0 2rem;
}

section.galery div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 3rem auto;
}

.disco-pic-size {
    min-width: 330px;
}

section.galery div.right-discover picture {
    order: 2;
}

section.galery div.right-discover p {
    order: 1;
}

.galery__div-picture-img {
    transition: transform .5s;
}

.galery__div-picture-img:hover {
    transform: scale(1.05);
}

/* join page  */

main#main-join-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 3rem;
    padding-bottom: 1rem;
}

/* form#join-form label, form#join-form div {
    display: block;
    font-family: 'Nunito', sans-serif;
    padding-left: 1rem;
} */


/* form#join-form {
    max-width: 50%;
} */

/******************* Directory ************/

section.list-display {
    display: grid;
    grid-template-columns: repeat(3,21%) 37%;
}

div.directory-grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.3rem;
}

section.grid-display {
    margin: 0;
}

section.grid-display img {
    max-height: 5rem;
}
/* section.list-display h2 {
} */

/*------------- Contact Page --------------*/

.contact-fieldset-1 {
    display: grid;
    gap: 0 1rem;
    grid-template-areas: 
    "a b"
    "c c"
    "d d"
    ;
}

.contact-fieldset-1 .contact_form__label:nth-child(3) {
    grid-area: c;
}
.contact-fieldset-1 .contact_form__label:nth-child(4) {
    grid-area: d;
}