nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    flex: 1 1 auto;
    
}

div#logo-cont {
    max-width: 425px;
}

img#logo-img {
    width: 100%;
}

#personas-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-example {
    text-align: center;
}

/* .persona-2 {
    grid-column: span 1;
} */